[Unit]
Description=weechat in tmux
After=network.target

[Service]
Type=forking
User=weechat
Group=weechat
ExecStart=/usr/bin/tmux -u2L weechat new-session -d -- weechat -d /var/lib/weechat
Restart=always

[Install]
WantedBy=default.target
