# Be 8 bit clean.
set input-meta on
set output-meta on

set echo-control-characters off
set show-all-if-ambiguous on
set match-hidden-files off
set completion-query-items -1
set completion-display-width 0
set completion-ignore-case on
set completion-prefix-display-length 3
set skip-completed-text on
