! cursor:
Xcursor.size: 32

! xterm:
.xterm*metaSendsEscape: true
.xterm*ScrollBar: false
.xterm*bellIsUrgent: true
.xterm*selectToClipboard: true
.xterm*vt100*geometry: 80x24

.xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
.xterm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
*VT100*translations: #override Shift <Btn1Up>:exec-formatted("xdg-open '%t'", SELECT)

.xterm*faceName: IBM Plex Mono
.xterm*faceSize: 10

.xterm*borderColor: #eeeeee
.xterm*internalBorder: 4

.xterm*cursorColor: #949494

*.foreground: #4d4d4c
*.background: #eeeeee
! black
*.color0: #ededed
*.color8: #949494
! red
*.color1: #d7005f
*.color9: #d7005f
! green
*.color2: #718c00
*.color10: #718c00
! yellow / orange
*.color3: #d75f00
*.color11: #d75f00
! blue
*.color4: #4271ae
*.color12: #4271ae
! magenta
*.color5: #8959a8
*.color13: #8959a8
! cyan
*.color6: #3e999f
*.color14: #3e999f
! white
*.color7: #4d4d4c
*.color15: #f5f5f5
