[Unit]
Description=sway-monitor execution hook
After=sleep.target
StartLimitInterval=5
StartLimitBurst=1

[Service]
ExecStart=%h/.local/bin/sway-monitor-hotplug.py
Type=oneshot
RemainAfterExit=false
KillMode=process

[Install]
WantedBy=sleep.target
