[Unit]
Description=i3lock service
Before=sleep.target

[Service]
User={{ autologin.user }}
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -c 4d4d4c

[Install]
WantedBy=sleep.target
