[Unit]
Description=Prometheus exporter for machine metrics
Documentation=https://github.com/prometheus/node_exporter

[Service]
Restart=always
User=node_exporter
ExecStart=/usr/local/bin/node_exporter \
	--collector.filesystem.ignored-fs-types='^(tmpfs|nsfs|fuse.rar2fs|squashfs)$' \
	--collector.logind \
	--collector.systemd \
	--collector.textfile.directory=/var/lib/node_exporter \
	--no-collector.arp \
	--no-collector.bcache \
	--no-collector.bonding \
	--no-collector.conntrack \
	--no-collector.edac \
	--no-collector.infiniband \
	--no-collector.ipvs \
	--no-collector.netclass \
	--no-collector.netstat \
	--no-collector.nfs \
	--no-collector.nfsd \
	--no-collector.sockstat \
	--no-collector.time \
	--no-collector.timex \
	--no-collector.vmstat \
	--no-collector.xfs \
	--no-collector.zfs \
	--web.telemetry-path=/node_exporter/metrics
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
