"*":
  core:
    audioBeep: false
    disabledPackages: [
      "background-tips"
      "encoding-selector"
      "exception-reporting"
      "language-clojure"
      "language-coffee-script"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-ruby"
      "language-ruby-on-rails"
      "language-rust-bundled"
      "language-sass"
      "metrics"
      "package-generator"
      "styleguide"
      "language-csharp"
      "language-java"
      "language-less"
      "language-typescript"
      "timecop"
      "welcome"
    ]
    projectHome: "~/src"
    telemetryConsent: "no"
    titleBar: "hidden"
  editor:
    fontFamily: "SF Mono"
    scrollPastEnd: true
  "exception-reporting":
    userId: "2f97ab46-5dd8-4bf4-8211-69c33499b549"
  "spell-check":
    locales: [
      "en-US"
    ]
  welcome:
    showOnStartup: false
